.App {
  background-color: white;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.coin {
  border-radius: 50%;
  background-size: cover;
}

.image {
  height: 150px;
  width: 150px;
  background-color: none;
}

.button {
  all: unset;
  margin-top: 10px;
  background-color: burlywood;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}
