.App {
  background-color: azure;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.coin {
  /* animation: spin 2s linear infinite, 5s change infinite linear; */
  border-radius: 50%;
  background-size: cover;
}

.image {
  height: 150px;
  width: 150px;
  background-color: none;
}

.button {
  all: unset;
  margin-top: 10px;
  background-color: burlywood;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

/* @keyframes change {
  0%,
  50% {
    background-image: url("../public/assets/Front.jpg");
  }
  50%,
  100% {
    background-image: url("../public/assets/Back.jpg");
  }
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
} */
